.dashboard-layout {
    padding-top: 100px;
    padding-bottom: 100px;
}
.search-field-dashboard {
    width: 100% ;
}
.date-field-dashboard {
    width: 100% ;
}
.dncc {
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.dscc {
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media screen and (min-width:992px){
    .search-field-dashboard {
        width: 48%;
    }
    .date-field-dashboard {
        width: 48%;
    }
}