.logo-img-for-forgot-pass {
    width: 40%;
    display: block;
    margin: 0 auto;
}
.forgotPass-img {
    width: 50%;
}
.signIn-signUp-title {
    display: inline;
    color: #50c458;
}
.button-links {
    width: 50%;
    margin: 0 auto;
}
@media screen and (max-width: 767.98px) {
    .logo-img-for-forgot-pass {
        width: 50%;
    }
    .forgotPass-img {
        width: 60%;
    }
    .button-links {
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.98px){
    .forgotPass-img {
        width: 50%;
    }
}
@media screen and (min-width: 1550px) and (max-width: 1799.98px){
    .forgotPass-img {
        width: 50%;
    }
}

@media screen and (min-width: 1800px) and (max-width: 2499.98px){
    .logo-img-for-forgot-pass {
        width: 30%;
    }
    .forgotPass-img {
        width: 50%;
    }
}

@media screen and (min-width: 2500px){
    .forgotPass-img {
        width: 50%;
    }
}