.logo-footer {
    width: 50%;
    display: block;
}
.SWMS {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.SWMS:hover {
    color: #50c458;
}
.footer-description {
    font-size: 15px;
}
.footer-small-text {
    font-size: 13px;
}
.social-links-footer a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}
.social-links-footer a:hover {
    color: #50c458;
}
.footer-nav-links {
    text-decoration: none;
    color: rgb(227, 255, 227);
    transition: 0.3s;
}
/* .active-footer {
    color: #50c458;
    text-decoration: underline;
} */
.footer-nav-links:hover {
    color: #50c458;
}
.terms-condition-footer {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.terms-condition-footer:hover {
    color: #50c458;
}
.privacy-policy-footer {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.privacy-policy-footer:hover {
    color: #50c458;
}
.cookie-policy-footer {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.cookie-policy-footer:hover {
    color: #50c458;
}

@media screen and (max-width: 991.98px) {
    .navigation-footer {
        padding-left: 0px;
    }
}