/* * {
  outline: 1px solid #f00 !important;
  opacity: 1 !important;
  visibility: visible !important;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.all-page-bg {
  width: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.page-bg-black {
  background-color: rgb(17, 20, 17);
}

.page-bg-white-even {
  background-color: rgb(241, 255, 243);
}

.page-bg-white-odd {
  background-color: rgb(233, 255, 236);
}

.active {
  color: #50c458 !important;
}

/* all button for black bg */
.button-for-black-bg {
  color: black;
  text-decoration: none;
  font-weight: bold;
  background-color: #50c458;
  border-radius: 10px;
  padding: 13px 20px;
  border: none;
  transition: 0.3s ease-in-out;
}

.button-for-black-bg:hover {
  background-color: rgb(137, 255, 143);
  color: black;
}

/* all button for white bg */
.button-for-white-bg {
  color: black;
  text-decoration: none;
  font-weight: bold;
  background-color: #50c458;
  border-radius: 10px;
  padding: 13px 20px;
  border: none;
  transition: 0.3s ease-in-out;
}

.button-for-white-bg:hover {
  background-color: rgb(137, 255, 143);
  color: black;
}

/* all input field focus activeness state */
.input-bg {
  width: 100%;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 5px 5px rgba(210, 210, 210, 0.459);
  padding-left: 10px;
  border-radius: 10px;
}

.input-bg:focus {
  outline: none;
}

.inputActive {
  background-color: rgb(174, 248, 174);
  transition: 0.3s ease;
}

/* all login sign-up page similar things like form & form btn */
.form {
  width: 80%;
}

.form-btn {
  width: 100%;
  background-color: #50c458;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  transition: 0.3s;
}

.form-btn:hover {
  background-color: rgb(137, 255, 143);
}



/* spinner style */
.spinner {
  width: 30%;
}

@media screen and (max-width: 575.98px) {
  .spinner {
    width: 80%;
  }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
  .spinner {
    width: 60%;
  }
}

/* toast message user-authentication-state all page */
.toast-container {
  opacity: 0;
  transition: opacity 1s ease-out;
  overflow: hidden;
}

.active-toast {
  opacity: 1;
}

.toast-bg {
  position: fixed;
  bottom: 20px;
  right: 10px;
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #50c458;
}



/* customized scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}