.registration-for-cityCorp-content {
    padding-top: 76px;
}
.logo-for-registration-city-corp {
    display: block;
    width: 20%;
    margin: 0 auto;
}
.password-field {
    position: relative;
}
.show-hide-toggle {
    color: rgb(92, 92, 92);
    position: absolute;
    top: 20px;
    right: 20px;
}
.reset-pass {
    text-decoration: none;
    color: rgb(168, 168, 168);
}
.reset-pass:hover {
    color: rgb(137, 255, 143);
}
.login-divert {
    color: rgb(168, 168, 168);
    text-decoration: none;
}
.login-divert:hover {
    color: rgb(137, 255, 143);
}
@media screen and (max-width: 767.98px) {
    .logo-for-registration-city-corp {
        width: 50%;
    }
    .form {
        width: 100%;
    }
    .sign-heading {
        width: 80%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.98px){
    .logo-for-registration-city-corp {
        width: 40%;
    }
    .form {
        width: 80%;
    }
    .sign-heading {
        width: 30%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1399.98px){
    .logo-for-registration-city-corp {
        width: 30%;
    }
}